
	<meta name="author" content="Bootstrap Website Templates">

	<title><%= titulo %></title>

	<link href="css/bootstrap.min.css" rel="stylesheet">

	<link href="css/style.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    


<body>
    
	<div class="container text-center">
		<div class="brand">
			<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
			<h3 class="text-uppercase">Lo siento Rey </h3>
		</div>
		<h1 class="head"><span>404</span></h1>
		<p>NO ENCONTRAMOS LA PÁGINA WEB</p>
		<a href="/" class="btn-outline"> Volver al inicio</a>
	</div>

   <div class="bwt-footer-copyright">
	<div class="container">
	  <div class="row">
		<div class="col-md-6 copyright">
			<div class="left-text">Copyright &copy; Jesus Dailan Díaz Hernandez Díaz. All Rights Reserved</div>
		</div>
      </div>
	</div>
   </div>

 

</body>
</html>	