<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
	<title><%=tituloP %></title>
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="contactanos.css">
	


</head>

<body>

	<div class="container mt-4">


		<div class="row  bg-dark p-3  bg-dark main">

			<div class=" col-sm-4 text-center  ">

				<img class="img-fluid bioImage " src="https://scontent.fntr4-1.fna.fbcdn.net/v/t39.30808-6/244589895_1577933165932208_743804943297043089_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=GsxiKD3pfocAX-fgqcz&_nc_ht=scontent.fntr4-1.fna&oh=00_AT-Sud87Et1M6qYzLyNsLKE2xOhL1PePozSPOVNVhAtn7Q&oe=61B95289">
				<div>
					<p>Jesus Dailan Hernandez Díaz</p>
					<p class="title"> Licenciado en Tecnologías de la Información y la Comunicación </p>
				</div>
			</div>
			<div class="col-sm-8">

				<h3 class=" text-center border-bottom text-warning">Contáctanos</h3>

				<p class="card-text">

					<div class="col-sm-6  text-light text-left ">

                        <i class="fas fa-map-marker">   Dirección: josé María Morelos, Quintana Roo, México </i> <br>
                        <i class="fas fa-phone ">       Teléfono:+52-997-1424496 </i> <br>
                        <p class="fas fa-envelope text-light">    E-mail: jesus.hernandez@uimqroo.edu.mx <p>
                        </a>


					<hr>

					<a class="btn btn-light" href="/">CV digital</a>


			</div>



		</div>



	</div>
	</div>

	<hr>
	<div class="copyrights d-flex justify-content-center">

		<p class="copyrights text-warning">
			&copy;Jesus Dailan Hernandez Díaz 2021 </p>
   </div>


</body>

</html>